<head>
    
</head>
<body>
    <header class="header">
        <div class="flex">
            <nav class="navbar">
                <ul>
                    <li><a href="{{url_for('Registration')}}">Home</a></li>
                    <li><a href="{{url_for('SendMessage')}}">Send Message</a></li>
                    <li><a href="{{url_for('RecivedMessage')}}">Recived Message</a></li>
                    <li><a href="{{url_for('users')}}">Users</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
